.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@-webkit-keyframes hover {
  0% {
    width: 0;
    height: 34px;
  }
  100% {
    width: 100%;
    height: 34px;
  }
}

@keyframes hover {
  0% {
    width: 0;
    height: 34px;
  }
  100% {
    width: 100%;
    height: 34px;
  }
}
:root {
  --color-body: #e1eefd;
  --color-background: rgba(10, 25, 39, 0.6);
  --color-background-elem: #96bce8;
  --color-text: #1859aa;
  --color-text-hover: #ece435;
  --color-background-text: #8cb4d4;
  --color-background-dark: #6283a1;
  --color-background-hover: #5ea7e8;
  --color-footer: rgb(10, 25, 39);
  --color-black: #000;
  --color-white: #fff;
  --color-green: #2a862a;
  --color-border: #5a6d6f;
  --color-border-hover: #709195;
  --color-error: #ee4242;
  --color-title: #e6d0d0;
}

:root {
  --burger-width: 20px;
  --burger-height: 20px;
  --burger-line-height: 2px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: var(--color-black);
  background-color: var(--color-body);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;
}
@media (max-width: 768px) {
  .for-mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.main {
  min-height: 100vh;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.wrapper {
  padding-top: calc(5px + 95 * ((100vw - 320px) / 1600));
  margin-bottom: calc(5px + 95 * ((100vw - 320px) / 1600));
}

.title {
  margin-top: 0;
  text-align: center;
}

.text {
  text-indent: 25px;
}

.model {
  height: 30vh;
}

.admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: 1px solid rgba(193, 193, 193, 0.4117647059);
}
.admin-header__logo {
  height: 75px;
}
.admin-header .admin-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.admin-header .admin-menu__link {
  display: block;
  padding: 20px;
  color: var(--color-black);
}
.admin-header .admin-menu__link:hover {
  text-decoration: underline;
}
.admin-header .admin-menu__link--active {
  font-weight: bold;
}

.admin-panel__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid currentColor;
}
.admin-panel__button {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #6c757d;
  background-color: transparent;
  border: 1px solid #6c757d;
  border-radius: 0.2rem;
  padding: 0.25rem 0.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.admin-panel__button:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.admin-panel__table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border: 1px solid currentColor;
  caption-side: bottom;
  border-collapse: collapse;
}
.admin-panel__table tbody,
.admin-panel__table td,
.admin-panel__table tfoot,
.admin-panel__table th,
.admin-panel__table thead,
.admin-panel__table tr {
  border-style: solid;
  border-width: 1px;
  padding: 0.5rem;
}
.admin-panel__table thead {
  border-bottom: 2px solid currentColor;
}

.block-form {
  width: 100%;
}
.block-form__input {
  margin-bottom: 2vh;
  width: 100%;
  height: 8vh;
  border: var(--color-border) solid 2px;
}
.block-form__input_error {
  border: var(--color-error) solid 2px;
}
.block-form__text-error {
  font-weight: bold;
  color: var(--color-error);
}
.block-form__button {
  width: 100%;
  height: 8vh;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-background-dark);
  border: var(--color-border) solid 2px;
  transition: all 0.4s linear;
  cursor: pointer;
}
.block-form__button:hover {
  background-color: var(--color-background-hover);
  border: var(--color-border-hover) solid 2px;
  box-shadow: 0 15px 25px -2px rgba(34, 60, 80, 0.35);
}
