.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@-webkit-keyframes hover {
  0% {
    width: 0;
    height: 34px;
  }
  100% {
    width: 100%;
    height: 34px;
  }
}

@keyframes hover {
  0% {
    width: 0;
    height: 34px;
  }
  100% {
    width: 100%;
    height: 34px;
  }
}
@-webkit-keyframes leftInAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes leftInAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes leftOutAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes leftOutAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes rightInAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes rightInAnimation {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes rightOutAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes rightOutAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
:root {
  --color-body: #e1eefd;
  --color-background: rgba(10, 25, 39, 0.6);
  --color-background-elem: #96bce8;
  --color-text: #1859aa;
  --color-text-hover: #ece435;
  --color-background-text: #8cb4d4;
  --color-background-dark: #91b5d4;
  --color-background-hover: #5ea7e8;
  --color-footer: rgb(10, 25, 39);
  --color-black: #000;
  --color-white: #fff;
  --color-green: #2a862a;
  --color-border: #5a6d6f;
  --color-border-hover: #709195;
  --color-error: #ee4242;
  --color-title: #e6d0d0;
}

:root {
  --burger-width: 20px;
  --burger-height: 20px;
  --burger-line-height: 2px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: var(--color-text);
  background-color: var(--color-body);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;
}
@media (max-width: 768px) {
  .for-mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.main {
  min-height: 100vh;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.wrapper {
  padding-top: calc(5px + 95 * ((100vw - 320px) / 1600));
  margin-bottom: calc(5px + 95 * ((100vw - 320px) / 1600));
}

.title {
  margin-top: 0;
  text-align: center;
}

.text {
  text-indent: 25px;
}

.model {
  height: 30vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-background-elem);
  height: 150px;
  top: 0;
  border-bottom: 1px solid rgba(193, 193, 193, 0.4117647059);
}
.header .burger {
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  margin: 20px;
}
.header .burger::before, .header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.header .burger::before {
  top: 0;
}
.header .burger::after {
  top: calc(100% - var(--burger-line-height));
}
.header .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.header .burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.header .burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.header .burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.header__menu {
  display: none;
}
.header__menu--opened {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  z-index: 1;
  background: var(--color-white);
  top: 150px;
  left: 0;
  width: 100%;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.4);
  margin: 0;
}
.header__menu-link {
  display: block;
  padding: 20px;
  color: var(--color-black);
}

.footer {
  background-color: var(--color-background-elem);
}
.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer__logo {
  padding-top: 15px;
}
.footer__link {
  color: var(--color-text);
}
.footer__link:hover {
  color: var(--color-text-hover);
}

.performance {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url(/storage/images/russia.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.presentation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.presentation-block {
  position: relative;
  height: 40vh;
  cursor: pointer;
}
.presentation-block__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.presentation-block__text {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  height: 4vh;
  text-align: center;
  background: var(--color-background);
  font-weight: 900;
  color: var(--color-white);
  z-index: 3;
}
.presentation-block__hover {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background);
  z-index: 0;
  transition: all 0.4s linear;
}
.presentation-block__hover_link {
  color: var(--color-white);
}
.presentation-block:hover .presentation-block__hover {
  z-index: 5;
}

.destination {
  position: relative;
  height: 100vh;
  background-color: var(--color-background-dark);
  color: var(--color-white);
}
.destination__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.destination__description {
  position: absolute;
  width: 75vw;
  top: 25vh;
  left: 10vw;
  z-index: 3;
}
.destination-invitation {
  position: relative;
  min-height: 60vh;
  background-color: var(--color-background-dark);
  background-image: url(/storage/images/car.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.destination-invitation__advert {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  color: var(--color-white);
  background-image: url(/storage/images/dots.png);
}
.destination-invitation__advertlink {
  font-size: 30px;
  color: var(--color-text);
  text-decoration: underline;
}
.destination-invitation__advertlink:hover {
  color: var(--color-text-hover);
}

.carousel {
  padding-bottom: calc(5px + 95 * ((100vw - 320px) / 1600));
  background-color: var(--color-background-dark);
}

.trip-presentation {
  position: relative;
  height: 40vh;
  background-color: var(--color-background-dark);
  color: var(--color-white);
}
.trip-presentation__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.trip-presentation__description {
  position: absolute;
  width: 75vw;
  top: 10vh;
  left: 10vw;
  z-index: 3;
}
.trip {
  margin-bottom: calc(5px + 145 * ((100vw - 320px) / 1600));
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 100vh;
  font-size: 20px;
  color: var(--color-text);
  background-color: var(--color-background-dark);
  background-image: url(/storage/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.trip__title {
  font-size: 35px;
}
.trip__title_mb100 {
  margin-bottom: calc(5px + 95 * ((100vw - 320px) / 1600));
}
.trip-description {
  margin-bottom: calc(5px + 95 * ((100vw - 320px) / 1600));
  padding-top: 5%;
  padding-bottom: 5%;
}
.trip-rules {
  margin-bottom: calc(5px + 95 * ((100vw - 320px) / 1600));
}
.trip-rules__items {
  margin-bottom: 10vh;
  display: flex;
}
.trip-rules__item {
  flex: 1 0 33.333%;
  min-height: 30vh;
  padding: 15px;
  box-shadow: 0 15px 10px -7px rgb(36, 57, 97);
}
.trip-form {
  margin-bottom: calc(5px + 145 * ((100vw - 320px) / 1600));
}

.block-form {
  width: 100%;
}
.block-form__input {
  margin-bottom: 2vh;
  width: 100%;
  height: 8vh;
  border: var(--color-border) solid 2px;
}
.block-form__input_error {
  border: var(--color-error) solid 2px;
}
.block-form__label {
  padding-bottom: 3px;
}
.block-form__text-error {
  font-weight: bold;
  color: var(--color-error);
}
.block-form__button {
  width: 100%;
  height: 8vh;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-background-dark);
  border: var(--color-border) solid 2px;
  transition: all 0.4s linear;
  cursor: pointer;
}
.block-form__button:hover {
  background-color: var(--color-background-hover);
  border: var(--color-border-hover) solid 2px;
  box-shadow: 0 15px 25px -2px rgba(34, 60, 80, 0.35);
}

.feedback-block {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 50vh;
  font-size: 20px;
  color: var(--color-text);
  background-color: var(--color-background-dark);
  background-image: url(/storage/images/feedback.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.feedback-block__items {
  display: flex;
  flex-direction: column;
}
.feedback-block__item {
  width: 70%;
}
.feedback-block__author {
  font-style: italic;
  text-align: right;
}
