.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

@-webkit-keyframes hover {
  0% {
    width: 0;
    height: 34px;
  }
  100% {
    width: 100%;
    height: 34px;
  }
}

@keyframes hover {
  0% {
    width: 0;
    height: 34px;
  }
  100% {
    width: 100%;
    height: 34px;
  }
}
:root {
  --color-body: #e1eefd;
  --color-background: rgba(10, 25, 39, 0.6);
  --color-background-text: #8cb4d4;
  --color-footer: rgb(10, 25, 39);
  --color-black: #000;
  --color-white: #fff;
  --color-green: #2a862a;
  --color-title: #e6d0d0;
  --color-body: #e1eefd;
  --color-background: var(--color-white);
  --color-background-text: #8cb4d4;
  --color-footer: rgb(10, 25, 39);
  --color-black: #000;
  --color-white: #fff;
  --color-green: #2a862a;
  --color-title: #e6d0d0;
}

:root {
  --burger-width: 20px;
  --burger-height: 20px;
  --burger-line-height: 2px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  color: var(--color-black);
  background-color: var(--color-body);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

.is-outer {
  position: relative !important;
  left: -9999px !important;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.for-mobile {
  display: none;
}
@media (max-width: 768px) {
  .for-mobile {
    display: block;
  }
}

.error {
  border: 2px #ff4019 solid !important;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.main {
  min-height: 100vh;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.wrapper {
  padding-top: calc(5px + 95 * ((100vw - 320px) / 1600));
  margin-bottom: calc(5px + 95 * ((100vw - 320px) / 1600));
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--color-background);
  height: 150px;
  top: 0;
  border-bottom: 1px solid rgba(193, 193, 193, 0.4117647059);
}
.header .burger {
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  margin: 20px;
}
.header .burger::before, .header .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.header .burger::before {
  top: 0;
}
.header .burger::after {
  top: calc(100% - var(--burger-line-height));
}
.header .burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out;
}
.header .burger--active::before {
  top: 50%;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.header .burger--active::after {
  top: 50%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
.header .burger--active .burger__line {
  transform: scale(0);
  transition: transform 0.3s ease-in-out;
}
.header__menu {
  display: none;
}
.header__menu--opened {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background: var(--color-background);
  top: 150px;
  left: 0;
  width: 100%;
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.4);
  margin: 0;
}
.header__menu-link {
  display: block;
  padding: 20px;
  color: var(--color-black);
}

.footer {
  background-color: var(--color-background);
}
.footer__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  padding-top: 15px;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__signature {
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
}

.performance {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url(/storage/images/russia.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
}

.presentation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.presentation-block {
  position: relative;
  height: 40vh;
  cursor: pointer;
}
.presentation-block__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 2;
}
.presentation-block__text {
  position: absolute;
  bottom: 2vh;
  width: 100%;
  height: 4vh;
  text-align: center;
  background: var(--color-background);
  font-weight: 900;
  color: var(--color-white);
  z-index: 3;
}
.presentation-block__hover {
  position: absolute;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-background);
  z-index: 0;
  transition: all 0.3s linear;
}
.presentation-block__hover_link {
  color: var(--color-white);
}
.presentation-block:hover .presentation-block__hover {
  z-index: 5;
}

