// COLORS
:root {
  --color-body: #e1eefd;
  --color-background: rgba(10, 25, 39, 0.6);
  --color-background-text: #8cb4d4;
  --color-background-dark: #6283a1;
  --color-background-hover: #5ea7e8;
  --color-footer: rgb(10, 25, 39);
  --color-black: #000;
  --color-white: #fff;
  --color-green: #2a862a;
  --color-border: #5a6d6f;
  --color-border-hover: #709195;
  --color-error: #ee4242;
  --color-title: #e6d0d0;
}

// BURGER
:root {
    --burger-width: 20px;
    --burger-height: 20px;
    --burger-line-height: 2px;
}
