// COLORS
:root {

  --color-body: #e1eefd;
  --color-background: rgba(10, 25, 39, 0.6);
  --color-background-text: #8cb4d4;
  --color-footer: rgb(10, 25, 39);
  --color-black: #000;
  --color-white: #fff;
  --color-green: #2a862a;
  --color-title: #e6d0d0;
    --color-body: #e1eefd;
    --color-background: var(--color-white);
    --color-background-text: #8cb4d4;
    --color-footer: rgb(10, 25, 39);
    --color-black: #000;
    --color-white: #fff;
    --color-green: #2a862a;
    --color-title: #e6d0d0;
}

// BURGER
:root {
    --burger-width: 20px;
    --burger-height: 20px;
    --burger-line-height: 2px;
}
