.admin-panel {
    &__header {
        @include flex-all-sb;
        padding-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid currentColor;
    }

    &__button {
        display: inline-block;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        color: #6c757d;
        background-color: transparent;
        border: 1px solid #6c757d;
        border-radius: 0.2rem;
        padding: 0.25rem 0.5rem;
        transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;

        &:hover {
            color: #fff;
            background-color: #6c757d;
            border-color: #6c757d;
        }
    }

    &__table {
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border: 1px solid currentColor;
        caption-side: bottom;
        border-collapse: collapse;
        background-color: var(--color-table-backgraund);

        tbody,
        td,
        tfoot,
        th,
        thead,
        tr {
            border-style: solid;
            border-width: 1px;
            padding: 0.5rem;
        }

        tr:nth-child(2n) {
            background-color: var(--color-table-backgraund-two);
        }

        thead {
            background-color: var(--color-body);
            border-bottom: 2px solid currentColor;
        }
    }
}
