.footer {
    background-color: var(--color-background-elem);
    height: 150px;
    background-image: url(/images/fon2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__block {
        @include flex-all-sa;
    }

    &__logo {
        padding-top: 15px;
    }

    &__link {
        color: var(--color-text);

        &:hover {
            color: var(--color-text-hover);
        }
    }

}
