.footer {
    background-color: var(--color-background-elem);

    &__block {
        @include flex-all-sa;
    }

    &__logo {
        padding-top: 15px;
    }

    &__link {
        color: var(--color-text);

        &:hover {
            color: var(--color-text-hover);
        }
    }

}
