.header {
    @include flex-all-sb;
    width: 100%;
    background-color: var(--color-white);
    height: 150px;
    top: 0;
    border-bottom: 1px solid #c1c1c169;

    .burger {
        @include burger;
        margin: 20px;
    }

    &__menu {
        display: none;
    }

    &__menu--opened {
        @include flex-all-sa;
        position: absolute;
        background: var(--color-white);
        top: 150px;
        left: 0;
        width: 100%;
        box-shadow: 0px 6px 5px 0px rgb(0 0 0 / 40%);
        margin: 0;
    }

    &__menu-link {
        display: block;
        padding: 20px;
        color: var(--color-black);
    }
}
