.header {
    @include flex-all-sb;
    width: 100%;
    background-color: var(--color-background-elem);
    height: 150px;
    top: 0;
    border-bottom: 1px solid #c1c1c169;
    background-image: url(/images/flag.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

    .burger {
        @include burger;
        margin: 20px;
    }

    &__logo {
        background: transparent;
        opacity: 0.8;
    }

    &__img {
        display: block;
        max-height: 150px;
    }

    &__menu {
        display: none;
    }

    &__menu--opened {
        @include flex-all-sa;
        position: absolute;
        z-index: 1;
        background-color: var(--color-white);
        background-image: url(/images/dots.png);
        font-size: 25px;
        top: 150px;
        left: 0;
        width: 100%;
        box-shadow: 0 6px 5px 0 rgb(0 0 0 / 40%);
        margin: 0;
    }

    &__menu-link {
        display: block;
        @include adaptive-value('padding', 20, 5, 0);
        color: var(--color-link);

        &:hover {
            color: var(--color-link-hover);
        }
    }
}
