.destination {
    position: relative;
    height: 100vh;
    background-color: var(--color-background-body-dark);
    color: var(--color-white);

    &__photo {
        @include photo-image;
    }

    &__description {
        position: absolute;
        width: 75vw;
        top: 25vh;
        left: 10vw;
        z-index: 3;
    }

    &-invitation {
        position: relative;
        min-height: 60vh;
        background-color: var(--color-background-body-dark);
        background-image: url(/storage/images/car.jpg);
        @include bg-cover;

        &__advert {
            position: absolute;
            @include flex-all-center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center;
            color: var(--color-white);
            background-image: url(/storage/images/dots.png);

        }

        &__advertlink {
            font-size: 30px;
            color: var(--color-link);
            background: transparent;
            border: none;
            text-decoration: underline;

            &:hover {
                color: var(--color-link-hover);
            }
        }

    }
}


.carousel {
    @include adaptive-value("padding-bottom", 100, 5, 0);
    background-color: var(--color-background-body-dark);
}
